:root {
  --playerColor: rgb(84, 221, 221);
  --primaryShadow: rgb(84, 221, 221, 0.5);
}

* {
  user-select: none;
}

@font-face {
  font-family: "moonhouse";
  src: url("./fonts/Moonhouse-yE5M.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kwajong";
  src: url("./fonts/Kwajong-BVRG.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.centerall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: screen;
  width: 100%;
  text-shadow: 0 0 10px 50% black;
}

.landing {
  min-height: 100%;
  width: 100%;
  background-color: black;
  box-shadow: inset -10px 0px 20px 0.001px rgb(255, 71, 71, 0.2),
    inset 10px 0px 20px 0.001px rgba(43, 162, 252, 0.5);
}

.title-text {
  font-family: "kwajong", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px 50% black;
  padding: 1rem;
  text-align: center;
}
.subtitle {
  font-family: "kwajong", sans-serif;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 10px 50% black;
  padding: 1rem;
  text-align: center;
}
.smaller-subtitle {
  font-size: 1.8rem;
  color: rgb(182, 182, 182);
}
button {
  margin: 20px;
  height: 60px;
  cursor: pointer;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: grey;
  color: white;
  font-size: 1.2rem;
  font-family: "kwajong", sans-serif;
}

button:hover {
  background-color: grey;
  color: black;
}

html,
body {
  font-family: "kwajong", sans-serif;
  overflow: hidden;
  zoom: normal;
  margin: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: -10;
  cursor: crosshair;
  box-shadow: inset -10px 0px 20px 0.001px rgb(255, 71, 71, 0.2),
    inset 10px 0px 20px 0.001px rgba(43, 162, 252, 0.5);
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet {
  position: absolute;
  background: black;
  aspect-ratio: 1;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--playerColor);
  z-index: 0;
  user-select: none;
}

.enemy {
  position: absolute;
  background: rgb(255, 71, 71);
  box-shadow: 0 0 30px 5px rgb(255, 71, 71, 0.25);
  aspect-ratio: 1;
  z-index: 0;
  user-select: none;
}

#player1 {
  position: relative;
  top: 50%;
  left: 50%;
  border-left: 30px solid var(--playerColor);

  border-top: 30px inset var(--playerColor);
  border-bottom: 30px inset var(--playerColor);
  border-right: 30px solid transparent;
  width: 0px;
  height: 0px;
  /* box-shadow: 0 0 5px #000000; */
  border-radius: 50%;
}

#player1::after {
  width: 0;
  width: 0;
  top: 0;
  position: inherit;
  box-shadow: 0 0 55px 5px red;
}

#currentDifficulty {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
}

.endscreen {
  font-family: "kwajong", sans-serif;
  position: fixed;
  top: 50px;
  padding: 10px;
}

.fadeaway {
  transition: opacity 5s;
  opacity: 0;
}
.fadein {
  transition: opacity 5s;
  opacity: 100%;
}

.scoreboard {
  font-family: "kwajong", sans-serif;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  padding: 10px;
  margin-top: 8px;
  z-index: 5;
  user-select: none;
}

#display {
  font-family: "kwajong", sans-serif;
  position: relative;
  bottom: 50px;
  font-size: 3rem;
  color: rgb(155, 156, 167);
  text-align: center;
  user-select: none;
  margin-top: 20px;
}

#score {
  font-family: "kwajong", sans-serif;
  padding: 10px;
  font-size: 40px;
  font-style: bold;
  color: white;
  user-select: none;
  border-bottom: 2px solid white;
  border-radius: 5px;
}

#display {
  font-family: "kwajong", sans-serif;
  display: none;
}

#reset {
  opacity: 0;
  display: none;
  user-select: none;
}
